/* Estilos generales de body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #2E86AB;
}
button:hover {
    background-color: #297799;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.color-acento {
    color: #297799;
}

/* Estilos navbar */
header {
    background-color: rgb(245, 245, 245);
}
header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #2E86AB;
    font-size: 1.6em;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover {
    color: #2E86AB;
}

/* Estilos de inicio o hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(media/5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1 {
    color: white;
}
/*serviocio container*/
#servicio{
    margin-top: 0;
     text-align: center;
}
/* Estilos generales */
#contactos {
    padding: 50px 0;
}
  
#contactos .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#contactos p {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 40px;
}
  
/* Estilo para el bloque del formulario con sombra */
.container-contact-form {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el bloque */
}
  
/* Estilos para el formulario */
.form-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.contact-camp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.contact-camp .contact-nom,
.contact-camp .contact-email {
    flex: 1;
    min-width: 200px;
}
  
.contact-nom label,
.contact-email label,
.contact-phone label,
.contact-message label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    width: 100%; /* Asegura que no se mueva horizontalmente */
    white-space: nowrap; /* Evita que el texto del label se desborde en una nueva línea */
    overflow: hidden; /* Oculta cualquier contenido que se desborde horizontalmente */
    text-overflow: ellipsis;
}
  
.contact-nom input,
.contact-email input,
.contact-phone input,
.contact-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.3em;
    color: #333;
}
  
.contact-nom input::placeholder,
.contact-email input::placeholder,
.contact-phone input::placeholder,
.contact-message textarea::placeholder {
    color: #999;
}
  
/* Restringir el tamaño del textarea a solo vertical */
.contact-message textarea {
    resize: vertical; /* Permite solo el redimensionamiento vertical */
    min-height: 80px; /* Altura mínima para el textarea */
}
  
/* Estilos responsivos */
@media (min-width: 750px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1 {
        font-size: 5em;
    }
    button {
        width: 100%;
        padding: 15px;
    }
}
  
/* Centrar imágenes y controlar su tamaño */
img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px; /* Agrega bordes redondeados para un toque elegante */
}

/* Estilos para el contenedor del área y los subservicios */
.area-details, .sub-area-item {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.area-details h2, .sub-area-item h3 {
    color: #297799;
}

.area-details p, .sub-area-item p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555;
}

/* Estilo para el botón de envío */
button[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #2E86AB;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #297799;
    cursor: pointer;
}

/* Ajustes responsivos para secciones */
@media (max-width: 768px) {
    header .logo, #hero h1 {
        font-size: 1.4em;
    }

    #contactos, .area-details, .sub-area-item {
        padding: 15px;
    }
    .form-contact, .contact-camp {
        flex-direction: column;
    }

    header nav a {
        font-size: 1em;
    }
}

/* Mejora de estilo en secciones y contenedores */
#servicio {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

#otros .container {
    padding: 20px;
    font-size: 1.2em;
    color: #333;
    background: #e6e6e6;
    border-radius: 8px;
    text-align: center;
}

/* Footer elegante y minimalista */
footer {
    padding: 20px;
    background-color: #333;
    color: #f4f4f4;
}

footer p {
    font-size: 1em;
    color: #ccc;
    text-align: center;
}
