/* Estilos generales de body */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}
h1 { font-size: 3.5em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
p { font-size: 1.25em; 
color: #414040;}
ul { list-style: none; }
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #E4E5EA;
    background-color: #16354D;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #6B99C3;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.color-acento {
    color: #6B99C3;

}

/* Estilos navbar */
header {
    background-color: #E4E5EA;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .logo {
    font-weight: bold;
    color: #6B99C3;
    font-size: 1.6em;
}

/* Navigation styles */
header nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
}

header a:hover {
    color: #6B99C3;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.8em;
    color: #6B99C3;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: background-color 0.3s;
}

/* Estilos de inicio o hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 90vh;
    color: #E4E5EA;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(media/5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1 {
    color: #E4E5EA;
}
/*serviocio container*/
#servicio{
    margin-top: 0;
    text-align: center;


}
/* Estilos generales */
/* Estilos responsivos */
@media (max-width: 768px) {
    header nav {
        display: none; /* Oculta el menú inicialmente */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Justo debajo del header */
        left: 0;
        width: 100%;
        background-color: #E4E5EA;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    header nav.active {
        display: flex; /* Muestra el menú cuando se activa */
    }

    header a {
        padding: 10px 20px;
        font-size: 1em;
    }

    .menu-toggle {
        display: block; /* Muestra el botón de menú hamburguesa */
    }
}
  
@media (max-width: 480px) {
    header .logo {
        align-items: center; /* Reduce el tamaño del logo */
    }

    header a {
        font-size: 0.9em; /* Ajusta el tamaño del texto */
    }

    .menu-toggle {
        font-size: 1.6em; /* Ajusta el tamaño del ícono de hamburguesa */
    }
}

/* Centrar imágenes y controlar su tamaño */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px; /* Agrega bordes redondeados para un toque elegante */
}


/* Estilos para el contenedor del área y los subservicios */
#servicio {
    padding-top: 30px;
}
.area-details, .sub-area-item {
    margin: 20px auto;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #ffffff;
}


.area-details h2, .sub-area-item h3 {
    text-align: center;
    color: #000000;
    font-size: 2.5em;
    font-family: copperplate, serif;
}
.area-details ul, .sub-area-item ul {
    text-align: start;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.area-details p, .sub-area-item p {
    text-align: start;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Ajustes responsivos para secciones */
@media (max-width: 768px) {
    header .logo, #hero h1 {
        font-size: 1.4em;
    }

    #contactos, .area-details, .sub-area-item {
        padding: 15px;
    }
    .form-contact, .contact-camp {
        flex-direction: column;
    }

    header nav a {
        font-size: 1em;
    }
}

/* Sección de contactos */
/* Estilos para el contenedor principal */
#contactos .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10%;
    background-color: #0C151C;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de redes sociales */
#contactos .social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}


#contactos .social_media h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #E4E5EA;
}


/* Estilos para las páginas de TikTok y Facebook */
#contactos .tiktop_page, #contactos .facebook_page {
    flex: 1 1 calc(50% - 10px);
}

/* Estilos generales para los iframes y blockquotes */
#contactos iframe, #contactos blockquote {
    max-width: 100%;

    height: 500px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #contactos .tiktop_page, #contactos .facebook_page {
        flex: 1 1 100%;
    }
}




/*estilos para direccion*/

/* Estilos para el contenedor principal */
#direccion .container {
    max-width: 100%;
    padding: 100px ;
    background-color: #D2D2D4;
    color: #16354D;
    text-align: center;
}

/* Estilos para los títulos */
#direccion h1, #direccion h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}
#direccion h2 {
    font-size: 1.5em;
}

/* Estilos para las sucursales */
#direccion .maps > div {
    margin-bottom: 20px;
}

/* Estilos generales para los iframes */
#direccion iframe {
    width: 100%;
    height: 450px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #direccion .container {
        padding: 100px 5%;
    }
}


/* Footer */

.footer{
    width: 100%;
    background-color: #0C151C;
    margin-bottom: 0;
    padding: 30px 0;
}
.footer .group_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .group_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .footer .group_1 .box figure img{
    width: 250px;
 }
 .footer .group_1 .box h2{
    color: #E4E5EA;
    margin-bottom: 20px;
    font-size: 1.5em;
 }
 .footer .group_1 .box p{
    color : #acacac;
    margin-bottom: 20px;
    font-size: 1em;

 }
 .footer .group_1 .box .social_red a{
    display: inline-block;
    text-decoration: none;
    width : 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;

 }
 .footer .group_1 .box .social_red a :hover{
    transform: scale(1.2);
 }
footer .group_2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;            
    color: #E4E5EA;
}
@media (max-width: 768px) {
    .footer .group_1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px 0px;
        margin: auto;
        text-align: center;
    }
    .footer .group_1 .box figure{
        border: 0;
        margin: 0;
    }
    .footer .group_1 .box figure img{
        width: 300px;
        height: auto;

    }

}