
body{
    background-color: gray;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}   

.form-container{
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form+p form p {
    text-align: center;
}
input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: large;
}
button{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.error{
    color: red;
}
.escondido{
    display: none;
}
.sr-only{
    position: absolute;
    left: .10000px;
    top: auto;
    height: 1px;
    overflow: hidden;
}